body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* HEADER */
.header {
  background: #222;
  padding: 15px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header nav a {
  color: #fff;
  margin-left: 15px;
  text-decoration: none;
  font-size: 16px;
}

/* CATEGORIES */
.categories {
  padding: 20px;
}

.cat-box {
  display: flex;
  gap: 15px;
}

.cat {
  background: #eee;
  padding: 12px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

/* PRODUCTS */
.products {
  padding: 20px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.product-card {
  border: 1px solid #ddd;
  padding: 12px;
  border-radius: 10px;
}

.product-card img {
  width: 100%;
  border-radius: 10px;
}

.add-btn {
  background: #0a8;
  padding: 8px;
  width: 100%;
  text-align: center;
  color: white;
  border-radius: 5px;
  margin-top: 5px;
  cursor: pointer;
}

/* WHATSAPP FLOATING BUTTON */
.whatsapp-float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 35px;
  text-decoration: none;
}

/* FOOTER */
.footer {
  background: #222;
  color: #fff;
  text-align: center;
  padding: 12px;
  margin-top: 20px;
}
